extends layout

block rightPanel
	div(class="FAQSelector")
		- each questionCategory in QuestionCategoryArray
			img(class="HoverLink ChangeImage", faqSet="#{questionCategory.Title}", src="/images/FAQ/FAQ_B_#{questionCategory.Title}_#{questionCategory.Language}_L.png")
			br

block mainContent
	div(class="FAQ")
		- each questionCategory in QuestionCategoryArray
			div(class="FAQSet #{questionCategory.Title}")
				img(src="/images/FAQ/FAQ_#{questionCategory.Title}_#{questionCategory.Language}.png")
				&nbsp;&nbsp;
				- if(Administrator)
					span(class="glyphicon glyphicon-plus AddQuestion", style="font-size:12px", data-title="#{questionCategory.Title}")
				br
				br
				- each questionSet, i in questionCategory.QuestionList
					div(class="Question")
						| #{questionSet.Question}
						- if(Administrator)
							span(class="glyphicon glyphicon-trash RemoveQuestion", style="font-size:12px", data-title="#{questionCategory.Title}", data-index="#{i}")
					div(class="Answer") !{questionSet.Answer}
	script(src="/javascripts/faq.js")