extends layout

block leftPanel
	div(class="ServicesSelector")
		- if(Language == "Ch")
			a(href="/Services/Petition")
				img(class="#{(ServicesTopic == 'Petition')?'Selected':''} HoverLink ChangeImage", src="/images/Services/Petition_L.png")
			a(href="/Services/MemberShipBook")
				img(class="#{(ServicesTopic == 'MemberShipBook')?'Selected':''} HoverLink ChangeImage", src="/images/Services/MemberShipBook_L.png")
			br
			img(class="#{(ServicesTopic == 'Transport')?'Selected':''} HoverLink ChangeImage", src="/images/Services/Transport_L.png")
			br
			a(href="/Services/Booking")
				img(class="#{(ServicesTopic == 'Booking')?'Selected':''} HoverLink ChangeImage", src="/images/Services/Booking_L.png")
		- if(Language == "En")
			a(href="/Services/Petition")
				img(class="#{(ServicesTopic == 'Petition')?'Selected':''} HoverLink ChangeImage", src="/images/Services/MemberShip_L.png")
			a(href="/Services/MembershipBenefits")
				img(class="#{(ServicesTopic == 'MembershipBenefits')?'Selected':''} HoverLink ChangeImage", src="/images/Services/MemberShipBenefits_L.png")
			a(href="/Services/Regulations")
				img(class="#{(ServicesTopic == 'Regulations')?'Selected':''} HoverLink ChangeImage", src="/images/Services/Regulations_L.png")
			a(href="/Services/InStoreService")
				img(class="#{(ServicesTopic == 'InStoreService')?'Selected':''} HoverLink ChangeImage", src="/images/Services/InStoreService_L.png")