extends services

block mainContent
	div(class="Services")
		div(class="Content InStoreService")
			img(src="/images/Services/InStoreService_01_#{Language}.png")
			br
			table
				tr
					td(class="TopHead" style="width:105px;")
					td(class="TopHead" style="width:225px;")
						- if(Language == "En")
							span B1F Information CenterCard
						- else
							span B1F 客户服务台
					td(class="TopHead" style="width:225px;")
						- if(Language == "En")
							span B1F 3F VIP Room
						- else
							span 3F 贵宾室
					td(class="TopHead")
						- if(Language == "En")
							span Intimate Services
						- else
							span 贴心配套服务
				tr
					td(class="Title") Member's Privileges
					td
						- each Content in Topic.ServicesInStoreService_01.ContentArray
							| #{Content}
							br
						- if(Administrator)
							span(class="glyphicon glyphicon-pencil", style="font-size:12px", data-toggle="modal", data-target="#EditServicesInStoreService_01Panel")
					td
						- each Content in Topic.ServicesInStoreService_02.ContentArray
							| #{Content}
							br
						- if(Administrator)
							span(class="glyphicon glyphicon-pencil", style="font-size:12px", data-toggle="modal", data-target="#EditServicesInStoreService_02Panel")
					td
						- each Content in Topic.ServicesInStoreService_03.ContentArray
							| #{Content}
							br
						- if(Administrator)
							span(class="glyphicon glyphicon-pencil", style="font-size:12px", data-toggle="modal", data-target="#EditServicesInStoreService_03Panel")
			br
			img(src="/images/Services/InStoreService_02_#{Language}.png")
			br
			br
			p 
				- each Content in Topic.ServicesInStoreService_04.ContentArray
					| #{Content}
					br
				- if(Administrator)
					span(class="glyphicon glyphicon-pencil", style="font-size:12px", data-toggle="modal", data-target="#EditServicesInStoreService_04Panel")
			img(src="/images/Services/InStoreService_03_#{Language}.png")
			br
			br
			p
				- each Content in Topic.ServicesInStoreService_05.ContentArray
					| #{Content}
					br
				- if(Administrator)
					span(class="glyphicon glyphicon-pencil", style="font-size:12px", data-toggle="modal", data-target="#EditServicesInStoreService_05Panel")
block panel
	- if(Administrator)
		div(class="modal fade", id="EditServicesInStoreService_01Panel")
			div(class="modal-dialog")
				div(class="modal-content")
					form(action="/fix_text", method="post")
						div(class="modal-header")
							button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
							h4(class="modal-title") Edit Services
						div(class="modal-body")
							div(class="row")
								div(class="col-md-12")
									textarea(class="form-control input-sm", name="Content", rows="10") #{Topic.ServicesInStoreService_01.OriginContent}
						div(class="modal-footer")
							input(type="hidden", name="Language", value="#{Language}")
							input(type="hidden", name="Topic", value="ServicesInStoreService_01")
							button(type="button", class="btn btn-default", data-dismiss="modal") Close
							button(type="submit", class="btn btn-primary") Save

		div(class="modal fade", id="EditServicesInStoreService_02Panel")
			div(class="modal-dialog")
				div(class="modal-content")
					form(action="/fix_text", method="post")
						div(class="modal-header")
							button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
							h4(class="modal-title") Edit Services
						div(class="modal-body")
							div(class="row")
								div(class="col-md-12")
									textarea(class="form-control input-sm", name="Content", rows="10") #{Topic.ServicesInStoreService_02.OriginContent}
						div(class="modal-footer")
							input(type="hidden", name="Language", value="#{Language}")
							input(type="hidden", name="Topic", value="ServicesInStoreService_02")
							button(type="button", class="btn btn-default", data-dismiss="modal") Close
							button(type="submit", class="btn btn-primary") Save

		div(class="modal fade", id="EditServicesInStoreService_03Panel")
			div(class="modal-dialog")
				div(class="modal-content")
					form(action="/fix_text", method="post")
						div(class="modal-header")
							button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
							h4(class="modal-title") Edit Services
						div(class="modal-body")
							div(class="row")
								div(class="col-md-12")
									textarea(class="form-control input-sm", name="Content", rows="10") #{Topic.ServicesInStoreService_03.OriginContent}
						div(class="modal-footer")
							input(type="hidden", name="Language", value="#{Language}")
							input(type="hidden", name="Topic", value="ServicesInStoreService_03")
							button(type="button", class="btn btn-default", data-dismiss="modal") Close
							button(type="submit", class="btn btn-primary") Save

		div(class="modal fade", id="EditServicesInStoreService_04Panel")
			div(class="modal-dialog")
				div(class="modal-content")
					form(action="/fix_text", method="post")
						div(class="modal-header")
							button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
							h4(class="modal-title") Edit Services
						div(class="modal-body")
							div(class="row")
								div(class="col-md-12")
									textarea(class="form-control input-sm", name="Content", rows="10") #{Topic.ServicesInStoreService_04.OriginContent}
						div(class="modal-footer")
							input(type="hidden", name="Language", value="#{Language}")
							input(type="hidden", name="Topic", value="ServicesInStoreService_04")
							button(type="button", class="btn btn-default", data-dismiss="modal") Close
							button(type="submit", class="btn btn-primary") Save

		div(class="modal fade", id="EditServicesInStoreService_05Panel")
			div(class="modal-dialog")
				div(class="modal-content")
					form(action="/fix_text", method="post")
						div(class="modal-header")
							button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
							h4(class="modal-title") Edit Services
						div(class="modal-body")
							div(class="row")
								div(class="col-md-12")
									textarea(class="form-control input-sm", name="Content", rows="10") #{Topic.ServicesInStoreService_05.OriginContent}
						div(class="modal-footer")
							input(type="hidden", name="Language", value="#{Language}")
							input(type="hidden", name="Topic", value="ServicesInStoreService_05")
							button(type="button", class="btn btn-default", data-dismiss="modal") Close
							button(type="submit", class="btn btn-primary") Save