extends layout

block leftPanel
	div(class="ServicesSelector")
		a(href="/Services/Petition")
			img(class="#{(ServicesTopic == 'Petition')?'Selected':''} HoverLink ChangeImage", src="/images/Services/Petition_#{Language}_L.png")
		a(href="/Services/MembershipBenefits")
			img(class="#{(ServicesTopic == 'MembershipBenefits')?'Selected':''} HoverLink ChangeImage", src="/images/Services/MemberShipBenefits_#{Language}_L.png")
		a(href="/Services/Regulations")
			img(class="#{(ServicesTopic == 'Regulations')?'Selected':''} HoverLink ChangeImage", src="/images/Services/Regulations_#{Language}_L.png")
		a(href="/Services/PorterService")
			img(class="#{(ServicesTopic == 'PorterService')?'Selected':''} HoverLink ChangeImage", src="/images/Services/PorterService_#{Language}_L.png")
		a(href="/Services/ReservationService")
			img(class="#{(ServicesTopic == 'ReservationService')?'Selected':''} HoverLink ChangeImage", src="/images/Services/ReservationService_#{Language}_L.png")
		a(href="/Services/InStoreService")
			img(class="#{(ServicesTopic == 'InStoreService')?'Selected':''} HoverLink ChangeImage", src="/images/Services/InStoreService_#{Language}_L.png")
