extends services

block mainContent
	div(class="Services")
		div(class="Content Membership")
			img(src="/images/Services/MembershipBenefits_01.png")
			img(class="ServiceHeadImage", src="/images/Services/ServiceHeadImage.jpg")
			table
				tr
					td(class="TopHead" style="width:105px;")
					td(class="TopHead" style="width:200px;")
						- if(Language == "En")
							span Tracking Card
						- else
							span 消费记录卡
					td(class="TopHead" style="width:200px;")
						- if(Language == "En")
							span Réel Silver Card
						- else
							span 芮欧银卡
					td(class="TopHead")
						- if(Language == "En")
							span Réel Gold Card
						- else
							span 芮欧金钻卡
				tr
					td(class="Title")
						- if(Language == "En")
							span Member's Privileges
						- else
							span 会员礼遇
					td
						- each Content in Topic.ServicesMembershipBenefits_01.ContentArray
							span #{Content}
								br
						- if(Administrator)
							span(class="glyphicon glyphicon-pencil", style="font-size:12px", data-toggle="modal", data-target="#EditServicesMembershipBenefits_01Panel")
					td
						- each Content in Topic.ServicesMembershipBenefits_02.ContentArray
							span #{Content}
								br
						- if(Administrator)
							span(class="glyphicon glyphicon-pencil", style="font-size:12px", data-toggle="modal", data-target="#EditServicesMembershipBenefits_02Panel")
					td
						- each Content in Topic.ServicesMembershipBenefits_03.ContentArray
							span #{Content}
								br
						- if(Administrator)
							span(class="glyphicon glyphicon-pencil", style="font-size:12px", data-toggle="modal", data-target="#EditServicesMembershipBenefits_03Panel")
				tr
					td(class="Title")
						- if(Language == "En")
							span Points to Gifts
						- else
							span 积分换好礼
					td(colspan="3")
						- each Content in Topic.ServicesMembershipBenefits_04.ContentArray
							span #{Content}
								br
						- if(Administrator)
							span(class="glyphicon glyphicon-pencil", style="font-size:12px", data-toggle="modal", data-target="#EditServicesMembershipBenefits_04Panel")
					
				tr(class="NoBorder")
					td(class="Title")
						- if(Language == "En")
							span Parking Validation
						- else
							span 停车优惠
					td
						- each Content in Topic.ServicesMembershipBenefits_05.ContentArray
							span #{Content}
								br
						- if(Administrator)
							span(class="glyphicon glyphicon-pencil", style="font-size:12px", data-toggle="modal", data-target="#EditServicesMembershipBenefits_05Panel")
					td
						- each Content in Topic.ServicesMembershipBenefits_06.ContentArray
							span #{Content}
								br
						- if(Administrator)
							span(class="glyphicon glyphicon-pencil", style="font-size:12px", data-toggle="modal", data-target="#EditServicesMembershipBenefits_06Panel")
					td
						- each Content in Topic.ServicesMembershipBenefits_07.ContentArray
							span #{Content}
								br
						- if(Administrator)
							span(class="glyphicon glyphicon-pencil", style="font-size:12px", data-toggle="modal", data-target="#EditServicesMembershipBenefits_07Panel")
				tr
					td
					td(colspan="3")
						- each Content in Topic.ServicesMembershipBenefits_08.ContentArray
							span #{Content}
								br
						- if(Administrator)
							span(class="glyphicon glyphicon-pencil", style="font-size:12px", data-toggle="modal", data-target="#EditServicesMembershipBenefits_08Panel")
block panel
	- if(Administrator)
		div(class="modal fade", id="EditServicesMembershipBenefits_01Panel")
			div(class="modal-dialog")
				div(class="modal-content")
					form(action="/fix_text", method="post")
						div(class="modal-header")
							button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
							h4(class="modal-title") Edit Services
						div(class="modal-body")
							div(class="row")
								div(class="col-md-12")
									textarea(class="form-control input-sm", name="Content", rows="10") #{Topic.ServicesMembershipBenefits_01.OriginContent}
						div(class="modal-footer")
							input(type="hidden", name="Language", value="#{Language}")
							input(type="hidden", name="Topic", value="ServicesMembershipBenefits_01")
							button(type="button", class="btn btn-default", data-dismiss="modal") Close
							button(type="submit", class="btn btn-primary") Save

		div(class="modal fade", id="EditServicesMembershipBenefits_02Panel")
			div(class="modal-dialog")
				div(class="modal-content")
					form(action="/fix_text", method="post")
						div(class="modal-header")
							button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
							h4(class="modal-title") Edit Services
						div(class="modal-body")
							div(class="row")
								div(class="col-md-12")
									textarea(class="form-control input-sm", name="Content", rows="10") #{Topic.ServicesMembershipBenefits_02.OriginContent}
						div(class="modal-footer")
							input(type="hidden", name="Language", value="#{Language}")
							input(type="hidden", name="Topic", value="ServicesMembershipBenefits_02")
							button(type="button", class="btn btn-default", data-dismiss="modal") Close
							button(type="submit", class="btn btn-primary") Save

		div(class="modal fade", id="EditServicesMembershipBenefits_03Panel")
			div(class="modal-dialog")
				div(class="modal-content")
					form(action="/fix_text", method="post")
						div(class="modal-header")
							button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
							h4(class="modal-title") Edit Services
						div(class="modal-body")
							div(class="row")
								div(class="col-md-12")
									textarea(class="form-control input-sm", name="Content", rows="10") #{Topic.ServicesMembershipBenefits_03.OriginContent}
						div(class="modal-footer")
							input(type="hidden", name="Language", value="#{Language}")
							input(type="hidden", name="Topic", value="ServicesMembershipBenefits_03")
							button(type="button", class="btn btn-default", data-dismiss="modal") Close
							button(type="submit", class="btn btn-primary") Save

		div(class="modal fade", id="EditServicesMembershipBenefits_04Panel")
			div(class="modal-dialog")
				div(class="modal-content")
					form(action="/fix_text", method="post")
						div(class="modal-header")
							button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
							h4(class="modal-title") Edit Services
						div(class="modal-body")
							div(class="row")
								div(class="col-md-12")
									textarea(class="form-control input-sm", name="Content", rows="10") #{Topic.ServicesMembershipBenefits_04.OriginContent}
						div(class="modal-footer")
							input(type="hidden", name="Language", value="#{Language}")
							input(type="hidden", name="Topic", value="ServicesMembershipBenefits_04")
							button(type="button", class="btn btn-default", data-dismiss="modal") Close
							button(type="submit", class="btn btn-primary") Save

		div(class="modal fade", id="EditServicesMembershipBenefits_05Panel")
			div(class="modal-dialog")
				div(class="modal-content")
					form(action="/fix_text", method="post")
						div(class="modal-header")
							button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
							h4(class="modal-title") Edit Services
						div(class="modal-body")
							div(class="row")
								div(class="col-md-12")
									textarea(class="form-control input-sm", name="Content", rows="10") #{Topic.ServicesMembershipBenefits_05.OriginContent}
						div(class="modal-footer")
							input(type="hidden", name="Language", value="#{Language}")
							input(type="hidden", name="Topic", value="ServicesMembershipBenefits_05")
							button(type="button", class="btn btn-default", data-dismiss="modal") Close
							button(type="submit", class="btn btn-primary") Save

		div(class="modal fade", id="EditServicesMembershipBenefits_06Panel")
			div(class="modal-dialog")
				div(class="modal-content")
					form(action="/fix_text", method="post")
						div(class="modal-header")
							button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
							h4(class="modal-title") Edit Services
						div(class="modal-body")
							div(class="row")
								div(class="col-md-12")
									textarea(class="form-control input-sm", name="Content", rows="10") #{Topic.ServicesMembershipBenefits_06.OriginContent}
						div(class="modal-footer")
							input(type="hidden", name="Language", value="#{Language}")
							input(type="hidden", name="Topic", value="ServicesMembershipBenefits_06")
							button(type="button", class="btn btn-default", data-dismiss="modal") Close
							button(type="submit", class="btn btn-primary") Save

		div(class="modal fade", id="EditServicesMembershipBenefits_07Panel")
			div(class="modal-dialog")
				div(class="modal-content")
					form(action="/fix_text", method="post")
						div(class="modal-header")
							button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
							h4(class="modal-title") Edit Services
						div(class="modal-body")
							div(class="row")
								div(class="col-md-12")
									textarea(class="form-control input-sm", name="Content", rows="10") #{Topic.ServicesMembershipBenefits_07.OriginContent}
						div(class="modal-footer")
							input(type="hidden", name="Language", value="#{Language}")
							input(type="hidden", name="Topic", value="ServicesMembershipBenefits_07")
							button(type="button", class="btn btn-default", data-dismiss="modal") Close
							button(type="submit", class="btn btn-primary") Save

		div(class="modal fade", id="EditServicesMembershipBenefits_08Panel")
			div(class="modal-dialog")
				div(class="modal-content")
					form(action="/fix_text", method="post")
						div(class="modal-header")
							button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
							h4(class="modal-title") Edit Services
						div(class="modal-body")
							div(class="row")
								div(class="col-md-12")
									textarea(class="form-control input-sm", name="Content", rows="10") #{Topic.ServicesMembershipBenefits_08.OriginContent}
						div(class="modal-footer")
							input(type="hidden", name="Language", value="#{Language}")
							input(type="hidden", name="Topic", value="ServicesMembershipBenefits_08")
							button(type="button", class="btn btn-default", data-dismiss="modal") Close
							button(type="submit", class="btn btn-primary") Save





