extends visit

block rightPanel
	div(class="VisitFloorDescriptionContainer")
		div(class="VisitFloorReelPlaceSelector")
			div(class="AreaList FloorGuideReelPlaceAreaList")
				div
					img(src="/images/Visit/FloorGuideReelPlace/FloorGuide_Page_ItemSHead.png")
					&nbsp;&nbsp;
					- if(Administrator)
						span(class="glyphicon glyphicon-pencil", style="font-size:12px", data-toggle="modal", data-target="#EditReelPlacePanel")
				div(class="AreaSelector ReelPlaceSelector", value="FloorGuide_Page_MapS01")
					img(class="HoverLink ChangeImage", src="/images/Visit/FloorGuideReelPlace/FloorGuide_Page_ItemS01_#{Language}_L.png")
				div(class="AreaSelector ReelPlaceSelector", value="FloorGuide_Page_MapS02")
					img(class="HoverLink ChangeImage", src="/images/Visit/FloorGuideReelPlace/FloorGuide_Page_ItemS02_#{Language}_L.png")
				div(class="AreaSelector ReelPlaceSelector", value="FloorGuide_Page_MapS03")
					img(class="HoverLink ChangeImage", src="/images/Visit/FloorGuideReelPlace/FloorGuide_Page_ItemS03_#{Language}_L.png")
				div(class="AreaSelector ReelPlaceSelector", value="FloorGuide_Page_MapS04")
					img(class="HoverLink ChangeImage", src="/images/Visit/FloorGuideReelPlace/FloorGuide_Page_ItemS04_#{Language}_L.png")
				div(class="AreaSelector ReelPlaceSelector", value="FloorGuide_Page_MapS05")
					img(class="HoverLink ChangeImage", src="/images/Visit/FloorGuideReelPlace/FloorGuide_Page_ItemS05_#{Language}_L.png")
				div(class="AreaSelector ReelPlaceSelector", value="FloorGuide_Page_MapS06")
					img(class="HoverLink ChangeImage", src="/images/Visit/FloorGuideReelPlace/FloorGuide_Page_ItemS06_#{Language}_L.png")
				div(class="Seperator")
				div(class="Detail", value="FloorGuide_Page_MapS01")
					div(class="Photo")
						img(src="/images/Visit/FloorGuideReelPlace/IMGS01.jpg")
					div(class="Description") #{ReelPlaceArray[0].Content}
				div(class="Detail", value="FloorGuide_Page_MapS02")
					div(class="Photo")
						img(src="/images/Visit/FloorGuideReelPlace/IMGS02.jpg")
					div(class="Description") #{ReelPlaceArray[1].Content}
				div(class="Detail", value="FloorGuide_Page_MapS03")
					div(class="Photo")
						img(src="/images/Visit/FloorGuideReelPlace/IMGS03.jpg")
					div(class="Description") #{ReelPlaceArray[2].Content}
				div(class="Detail", value="FloorGuide_Page_MapS04")
					div(class="Photo")
						img(src="/images/Visit/FloorGuideReelPlace/IMGS04.jpg")
					div(class="Description") #{ReelPlaceArray[3].Content}
				div(class="Detail", value="FloorGuide_Page_MapS05")
					div(class="Photo")
						img(src="/images/Visit/FloorGuideReelPlace/IMGS05.jpg")
					div(class="Description") #{ReelPlaceArray[4].Content}
				div(class="Detail", value="FloorGuide_Page_MapS06")
					div(class="Photo")
						img(src="/images/Visit/FloorGuideReelPlace/IMGS06.jpg")
					div(class="Description") #{ReelPlaceArray[5].Content}
		div(class="VisitFloorDescription")
			- each areaList in AreaListArray
				div(class="AreaList FloorGuide#{areaList.Floor}AreaList")
					div(class="AreaListPanel")
						div(class="Title")
							img(src="/images/Visit/FloorGuide#{areaList.Floor}/FloorGuide#{areaList.Floor}_Title_#{Language}.png")
							- if(Administrator)
								span(class="glyphicon glyphicon-plus AddSection", style="font-size:12px", data-floor-level="#{areaList.Floor}")
						- each brand in areaList.Brands
							div(class="HoverLink ChangeColor AreaSelector Selector", overColor="#000000", outColor="#808080", value="FloorGuide#{areaList.Floor}_MAP_over#{brand.Key}")
								| #{brand.Title}
								- if(Administrator)
									span(class="glyphicon glyphicon-trash RemoveSection", style="font-size:12px", data-floor-level="#{areaList.Floor}", data-section-key="#{brand.Key}")
					div(class="TopMask")
					div(class="BottomMask")
			div(class="AreaListScrollButton")
				img(class="HoverLink ChangeImage ScrollUp", src="/images/Brand/ScrollUp_L.png")
				| &nbsp;&nbsp;
				img(class="HoverLink ChangeImage ScrollDown", src="/images/Brand/ScrollDown_L.png")

block mainContent
	div(class="VisitFloor")
		div(class="FloorGuide FloorGuideReelPlace")
			img(class="FloorGuideBackground", src="/images/Visit/FloorGuideReelPlace/FloorGuide_Page_Map.png")
			img(class="FloorGuideOver", src="/images/Visit/alpha.png", usemap="#FloorGuideReelPlaceMap", border="0", width="593", height="555")
			map(class="FloorGuideMap", name="FloorGuideReelPlaceMap")
				area(shape="rect", coords="11,472,43,504", href="#FloorGuide_Page_MapS01")
				area(shape="rect", coords="50,273,93,317", href="#FloorGuide_Page_MapS02")
				area(shape="rect", coords="64,66,99,102", href="#FloorGuide_Page_MapS03")
				area(shape="rect", coords="450,4,492,42", href="#FloorGuide_Page_MapS04")
				area(shape="rect", coords="181,272,219,307", href="#FloorGuide_Page_MapS05")
				area(shape="rect", coords="357,153,398,194", href="#FloorGuide_Page_MapS06")
		div(class="FloorGuide FloorGuide1F")
			img(class="FloorGuideBackground", src="/images/Visit/FloorPlan1F.jpg")
		div(class="FloorGuide FloorGuide2F")
			img(class="FloorGuideBackground", src="/images/Visit/FloorPlan2F.jpg")
		div(class="FloorGuide FloorGuide3F")
			img(class="FloorGuideBackground", src="/images/Visit/FloorPlan3F.jpg")
		div(class="FloorGuide FloorGuide4F")
			img(class="FloorGuideBackground", src="/images/Visit/FloorPlan4F.jpg")
		div(class="FloorGuide FloorGuide5F")
			img(class="FloorGuideBackground", src="/images/Visit/FloorPlan5F.jpg")
		div(class="FloorGuide FloorGuideB1")
			img(class="FloorGuideBackground", src="/images/Visit/FloorPlanB1.jpg")
		div(class="FloorGuide FloorGuideB2")
			img(class="FloorGuideBackground", src="/images/Visit/FloorPlanB2.jpg")
	script(src="/javascripts/visitFloor.js")

block panel
	- if(Administrator)
		div(class="modal fade", id="EditReelPlacePanel")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
						h4(class="modal-title") Edit Reel Place
					div(class="modal-body")
						- each ReelPlace in ReelPlaceArray
							div(class="row")
								div(class="span12") #{ReelPlace.Key}
							div(class="row")
								form(action="/fix_text", method="post", class="form EditReelPlaceForm")
									//- input(type="text", name="Title", class="Title", value="#{ReelPlace.Title}")
									//- input(type="text", name="Description", class="Description", value="#{ReelPlace.Description}")
									//- input(class="input", type="text", name="Content" value="#{ReelPlace.Content}")
									textarea(class="form-control input-sm", name="Content", rows="3") #{ReelPlace.Content}
									input(type="hidden", name="Language", value="#{Language}")
									input(type="hidden", name="Topic", value="#{ReelPlace.Key}")
									button(type="submit", class="btn btn-primary") Save
								br
					div(class="modal-footer")
						button(type="button", class="btn btn-default", data-dismiss="modal") Close