extends visit

block mainContent
	div(class="About")
		img(class="MainImage", src="/images/About/IMG_About.jpg")
		br
		img(src="/images/About/IMG_Sign.jpg")
		br
		p
			img(src="/images/About/About_01_#{Language}.png")
			- if(Administrator)
				span(class="glyphicon glyphicon-pencil", style="font-size:12px", data-toggle="modal", data-target="#EditVisitAbout1Panel")
		- each Content in ContentArray1
			if (Content.indexOf("#Paragraph#") >= 0) 
				p #{Content.replace("#Paragraph# ", "")}
			- else
				span #{Content}
				br
		p
			img(src="/images/About/About_02_#{Language}.png")
			- if(Administrator)
				span(class="glyphicon glyphicon-pencil", style="font-size:12px", data-toggle="modal", data-target="#EditVisitAbout2Panel")
		- each Content in ContentArray2
			if (Content.indexOf("#Paragraph#") >= 0) 
				p #{Content.replace("#Paragraph# ", "")}
			- else
				span #{Content}
				br
		p
			img(src="/images/About/About_03_#{Language}.png")
			- if(Administrator)
				span(class="glyphicon glyphicon-pencil", style="font-size:12px", data-toggle="modal", data-target="#EditVisitAbout3Panel")
		- each Content in ContentArray3
			if (Content.indexOf("#Paragraph#") >= 0) 
				p #{Content.replace("#Paragraph# ", "")}
			- else
				span #{Content}
				br
		- if(Language == "Ch")
			p
				img(src="/images/About/About_04_#{Language}.png")
				- if(Administrator)
					span(class="glyphicon glyphicon-pencil", style="font-size:12px", data-toggle="modal", data-target="#EditVisitAbout4Panel")
			- each Content in ContentArray4
				if (Content.indexOf("#Paragraph#") >= 0) 
					p #{Content.replace("#Paragraph# ", "")}
				- else
					span #{Content}
					br
block panel
	- if(Administrator)
		div(class="modal fade", id="EditVisitAbout1Panel")
			div(class="modal-dialog")
				div(class="modal-content")
					form(action="/fix_text", method="post")
						div(class="modal-header")
							button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
							h4(class="modal-title") Edit Visit About
						div(class="modal-body")
							div(class="row")
								div(class="col-md-12")
									textarea(class="form-control input-sm", name="Content", rows="10") #{OriginContent1}
						div(class="modal-footer")
							input(type="hidden", name="Language", value="#{Language}")
							input(type="hidden", name="Topic", value="VisitAbout1")
							button(type="button", class="btn btn-default", data-dismiss="modal") Close
							button(type="submit", class="btn btn-primary") Save
		div(class="modal fade", id="EditVisitAbout2Panel")
			div(class="modal-dialog")
				div(class="modal-content")
					form(action="/fix_text", method="post")
						div(class="modal-header")
							button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
							h4(class="modal-title") Edit Visit About
						div(class="modal-body")
							div(class="row")
								div(class="col-md-12")
									textarea(class="form-control input-sm", name="Content", rows="10") #{OriginContent2}
						div(class="modal-footer")
							input(type="hidden", name="Language", value="#{Language}")
							input(type="hidden", name="Topic", value="VisitAbout2")
							button(type="button", class="btn btn-default", data-dismiss="modal") Close
							button(type="submit", class="btn btn-primary") Save
		div(class="modal fade", id="EditVisitAbout3Panel")
			div(class="modal-dialog")
				div(class="modal-content")
					form(action="/fix_text", method="post")
						div(class="modal-header")
							button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
							h4(class="modal-title") Edit Visit About
						div(class="modal-body")
							div(class="row")
								div(class="col-md-12")
									textarea(class="form-control input-sm", name="Content", rows="10") #{OriginContent3}
						div(class="modal-footer")
							input(type="hidden", name="Language", value="#{Language}")
							input(type="hidden", name="Topic", value="VisitAbout3")
							button(type="button", class="btn btn-default", data-dismiss="modal") Close
							button(type="submit", class="btn btn-primary") Save
		div(class="modal fade", id="EditVisitAbout4Panel")
			div(class="modal-dialog")
				div(class="modal-content")
					form(action="/fix_text", method="post")
						div(class="modal-header")
							button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
							h4(class="modal-title") Edit Visit About
						div(class="modal-body")
							div(class="row")
								div(class="col-md-12")
									textarea(class="form-control input-sm", name="Content", rows="10") #{OriginContent4}
						div(class="modal-footer")
							input(type="hidden", name="Language", value="#{Language}")
							input(type="hidden", name="Topic", value="VisitAbout4")
							button(type="button", class="btn btn-default", data-dismiss="modal") Close
							button(type="submit", class="btn btn-primary") Save
		