extends visit

block rightPanel
	div(class="VisitFloorDescriptionContainer")
		div(class="VisitFloorReelPlaceSelector")
			div(class="AreaList FloorGuideReelPlaceAreaList")
				div
					img(src="/images/Visit/FloorGuideReelPlace/FloorGuide_Page_ItemSHead.png")
				div(class="AreaSelector ReelPlaceSelector", value="FloorGuide_Page_MapS01")
					img(class="HoverLink ChangeImage", src="/images/Visit/FloorGuideReelPlace/FloorGuide_Page_ItemS01_L.png")
				div(class="AreaSelector ReelPlaceSelector", value="FloorGuide_Page_MapS02")
					img(class="HoverLink ChangeImage", src="/images/Visit/FloorGuideReelPlace/FloorGuide_Page_ItemS02_L.png")
				div(class="AreaSelector ReelPlaceSelector", value="FloorGuide_Page_MapS03")
					img(class="HoverLink ChangeImage", src="/images/Visit/FloorGuideReelPlace/FloorGuide_Page_ItemS03_L.png")
				div(class="AreaSelector ReelPlaceSelector", value="FloorGuide_Page_MapS04")
					img(class="HoverLink ChangeImage", src="/images/Visit/FloorGuideReelPlace/FloorGuide_Page_ItemS04_L.png")
				div(class="AreaSelector ReelPlaceSelector", value="FloorGuide_Page_MapS05")
					img(class="HoverLink ChangeImage", src="/images/Visit/FloorGuideReelPlace/FloorGuide_Page_ItemS05_L.png")
				div(class="AreaSelector ReelPlaceSelector", value="FloorGuide_Page_MapS06")
					img(class="HoverLink ChangeImage", src="/images/Visit/FloorGuideReelPlace/FloorGuide_Page_ItemS06_L.png")
				div(class="Seperator")
				div(class="Detail", value="FloorGuide_Page_MapS01")
					div(class="Title") Dali melted clock Sculpture
					div(class="Description") The Persistence of Memory is a 1931 painting by artist Salvador Dalí, and is one of his most recognizable works.First shown at the Julien Levy Gallery in 1932, the painting has been in the collection of the Museum of Modern Art in New York City since 1934.
					div(class="Photo")
						img(src="/images/Visit/FloorGuideReelPlace/IMGS01.jpg")
				div(class="Detail", value="FloorGuide_Page_MapS02")
					div(class="Title") A Tree House
					div(class="Description") The Persistence of Memory is a 1931 painting by artist Salvador Dalí, and is one of his most recognizable works.First shown at the Julien Levy Gallery in 1932, the painting has been in the collection of the Museum of Modern Art in New York City since 1934.
					div(class="Photo")
						img(src="/images/Visit/FloorGuideReelPlace/IMGS02.jpg")
				div(class="Detail", value="FloorGuide_Page_MapS03")
					div(class="Title") Landscape Garden
					div(class="Description") The Persistence of Memory is a 1931 painting by artist Salvador Dalí, and is one of his most recognizable works.First shown at the Julien Levy Gallery in 1932, the painting has been in the collection of the Museum of Modern Art in New York City since 1934.
					div(class="Photo")
						img(src="/images/Visit/FloorGuideReelPlace/IMGS03.jpg")
				div(class="Detail", value="FloorGuide_Page_MapS04")
					div(class="Title") Golden House
					div(class="Description") The Persistence of Memory is a 1931 painting by artist Salvador Dalí, and is one of his most recognizable works.First shown at the Julien Levy Gallery in 1932, the painting has been in the collection of the Museum of Modern Art in New York City since 1934.
					div(class="Photo")
						img(src="/images/Visit/FloorGuideReelPlace/IMGS04.jpg")
				div(class="Detail", value="FloorGuide_Page_MapS05")
					div(class="Title") Wonderland
					div(class="Description") The Persistence of Memory is a 1931 painting by artist Salvador Dalí, and is one of his most recognizable works.First shown at the Julien Levy Gallery in 1932, the painting has been in the collection of the Museum of Modern Art in New York City since 1934.
					div(class="Photo")
						img(src="/images/Visit/FloorGuideReelPlace/IMGS05.jpg")
				div(class="Detail", value="FloorGuide_Page_MapS06")
					div(class="Title") Garden Terrace
					div(class="Description") The Persistence of Memory is a 1931 painting by artist Salvador Dalí, and is one of his most recognizable works.First shown at the Julien Levy Gallery in 1932, the painting has been in the collection of the Museum of Modern Art in New York City since 1934.
					div(class="Photo")
						img(src="/images/Visit/FloorGuideReelPlace/IMGS06.jpg")
		div(class="VisitFloorDescription")
			- each areaList in AreaListArray
				div(class="AreaList FloorGuide#{areaList.Floor}AreaList")
					div(class="AreaListPanel")
						div(class="Title")
							img(src="/images/Visit/FloorGuide#{areaList.Floor}/FloorGuide#{areaList.Floor}_Title_#{Language}.png")
							- if(Administrator)
								span(class="glyphicon glyphicon-plus AddSection", style="font-size:12px", data-floor-level="#{areaList.Floor}")
						- each brand in areaList.Brands
							div(class="HoverLink ChangeColor AreaSelector Selector", overColor="#000000", outColor="#808080", value="FloorGuide#{areaList.Floor}_MAP_over#{brand.Key}")
								| #{brand.Title}
								- if(Administrator)
									span(class="glyphicon glyphicon-trash RemoveSection", style="font-size:12px", data-floor-level="#{areaList.Floor}", data-section-key="#{brand.Key}")
					div(class="TopMask")
					div(class="BottomMask")
			div(class="AreaListScrollButton")
				img(class="HoverLink ChangeImage ScrollUp", src="/images/Brand/ScrollUp_L.png")
				| &nbsp;&nbsp;
				img(class="HoverLink ChangeImage ScrollDown", src="/images/Brand/ScrollDown_L.png")

block mainContent
	div(class="VisitFloor")
		div(class="FloorGuide FloorGuideReelPlace")
			img(class="FloorGuideBackground", src="/images/Visit/FloorGuideReelPlace/FloorGuide_Page_Map.png")
			img(class="FloorGuideOver", src="/images/Visit/alpha.png", usemap="#FloorGuideReelPlaceMap", border="0", width="679", height="639")
			map(class="FloorGuideMap", name="FloorGuideReelPlaceMap")
				area(shape="rect", coords="73,58,112,114", href="#FloorGuide_Page_MapS03")
				area(shape="rect", coords="495,0,592,65", href="#FloorGuide_Page_MapS04")
				area(shape="rect", coords="423,184,456,217", href="#FloorGuide_Page_MapS06")
				area(shape="rect", coords="214,316,247,349", href="#FloorGuide_Page_MapS05")
				area(shape="rect", coords="63,321,96,354", href="#FloorGuide_Page_MapS02")
				area(shape="rect", coords="18,544,51,577", href="#FloorGuide_Page_MapS01")
		div(class="FloorGuide FloorGuide1F")
			img(class="FloorGuideBackground", src="/images/Visit/FloorGuide1F/FloorGuide1F_MAP_BK.png")
			img(class="FloorGuideOver", src="/images/Visit/alpha.png", usemap="#FloorGuide1FMap", border="0", width="614", height="578")
			map(class="FloorGuideMap", name="FloorGuide1FMap")
				area(shape="poly", href="#FloorGuide1F_MAP_over115", coords="73, 295, 97, 295, 91, 329, 125, 329, 124, 384, 54, 387")
				area(shape="rect", href="#FloorGuide1F_MAP_over113", coords="127, 329, 192, 383")
				area(shape="rect", href="#FloorGuide1F_MAP_over112", coords="193, 329, 258, 383")
				area(shape="rect", href="#FloorGuide1F_MAP_over111", coords="259, 329, 321, 383")
				area(shape="rect", href="#FloorGuide1F_MAP_over110", coords="323, 330, 407, 383")
				area(shape="poly", href="#FloorGuide1F_MAP_over109", coords="454, 302, 555, 320, 572, 336, 599, 473, 528, 473, 530, 438, 517, 378, 467, 380")
				area(shape="poly", href="#FloorGuide1F_MAP_over108", coords="482, 473, 599, 474, 613, 546, 481, 551")
				area(shape="poly", href="#FloorGuide1F_MAP_over107", coords="389, 434, 420, 435, 445, 523, 446, 552, 389, 554")
				area(shape="poly", href="#FloorGuide1F_MAP_over106", coords="345, 434, 388, 435, 388, 554, 329, 555, 328, 546, 343, 546")
				area(shape="poly", href="#FloorGuide1F_MAP_over105", coords="260, 434, 342, 434, 343, 548, 329, 548, 329, 554, 269, 557, 269, 532, 293, 531, 292, 485, 271, 486, 270, 476, 260, 476")
				area(shape="rect", href="#FloorGuide1F_MAP_over103", coords="213, 434, 256, 476")
				area(shape="poly", href="#FloorGuide1F_MAP_over102", coords="130, 435, 211, 435, 211, 476, 156, 476, 156, 484, 129, 485")
				area(shape="poly", href="#FloorGuide1F_MAP_over101", coords="45, 430, 83, 435, 127, 435, 127, 485, 107, 485, 107, 518, 94, 518, 98, 563, 49, 565, 32, 557, 23, 537")
				area(shape="rect", href="#FloorGuide1F_MAP_over1I", coords="252, 195, 295, 221")
				area(shape="rect", href="#FloorGuide1F_MAP_over1H", coords="159, 246, 238, 258")
				area(shape="rect", href="#FloorGuide1F_MAP_over1G", coords="82, 218, 115, 259")
				area(shape="poly", href="#FloorGuide1F_MAP_over1E", coords="317, 28, 424, 28, 424, 173, 430, 196, 364, 194, 364, 115, 317, 115")
				area(shape="poly", href="#FloorGuide1F_MAP_over1D", coords="318, 119, 362, 119, 363, 197, 371, 197, 383, 256, 359, 255, 359, 221, 332, 220, 332, 195, 317, 194")
				area(shape="rect", href="#FloorGuide1F_MAP_over1D-1", coords="315, 224, 358, 261")
				area(shape="rect", href="#FloorGuide1F_MAP_over1C", coords="322, 279, 360, 292")
				area(shape="rect", href="#FloorGuide1F_MAP_over1B", coords="265, 279, 301, 305")
				area(shape="rect", href="#FloorGuide1F_MAP_over1A", coords="132, 278, 168, 292")
		div(class="FloorGuide FloorGuide2F")
			img(class="FloorGuideBackground", src="/images/Visit/FloorGuide2F/FloorGuide2F_MAP_BK.png")
			img(class="FloorGuideOver", src="/images/Visit/alpha.png", usemap="#FloorGuide2FMap", border="0", width="593", height="569")
			map(class="FloorGuideMap", name="FloorGuide2FMap")
				area(shape="rect", href="#FloorGuide2F_MAP_over223225", coords="303, 398, 369, 441")
				area(shape="rect", href="#FloorGuide2F_MAP_over221222", coords="228, 399, 288, 441")
				area(shape="rect", href="#FloorGuide2F_MAP_over217218", coords="98, 398, 151, 442")
				area(shape="rect", href="#FloorGuide2F_MAP_over218", coords="164, 399, 216, 441")
				area(shape="poly", href="#FloorGuide2F_MAP_over216", coords="53, 294, 74, 294, 67, 331, 116, 331, 115, 383, 72, 385, 72, 417, 24, 417")
				area(shape="rect", href="#FloorGuide2F_MAP_over215", coords="126, 331, 186, 385")
				area(shape="rect", href="#FloorGuide2F_MAP_over213", coords="190, 331, 244, 385")
				area(shape="rect", href="#FloorGuide2F_MAP_over212", coords="248, 331, 304, 385")
				area(shape="rect", href="#FloorGuide2F_MAP_over211", coords="308, 332, 371, 386")
				area(shape="poly", href="#FloorGuide2F_MAP_over210-7", coords="431, 352, 487, 359, 490, 380, 437, 395")
				area(shape="poly", href="#FloorGuide2F_MAP_over210-5", coords="430, 304, 512, 319, 517, 344, 426, 338")
				area(shape="poly", href="#FloorGuide2F_MAP_over210-4", coords="492, 360, 512, 356, 520, 366, 514, 413, 497, 414")
				area(shape="poly", href="#FloorGuide2F_MAP_over210-3", coords="519, 323, 551, 328, 565, 421, 532, 421")
				area(shape="poly", href="#FloorGuide2F_MAP_over210-2", coords="535, 427, 565, 427, 575, 471, 548, 471")
				area(shape="poly", href="#FloorGuide2F_MAP_over210-1", coords="500, 420, 505, 471, 534, 471, 527, 440, 516, 420")
				area(shape="rect", href="#FloorGuide2F_MAP_over209", coords="446, 475, 591, 551")
				area(shape="rect", href="#FloorGuide2F_MAP_over208", coords="403, 475, 442, 555")
				area(shape="rect", href="#FloorGuide2F_MAP_over207", coords="365, 456, 399, 555")
				area(shape="rect", href="#FloorGuide2F_MAP_over206", coords="317, 455, 361, 556")
				area(shape="rect", href="#FloorGuide2F_MAP_over205", coords="226, 456, 304, 488")
				area(shape="rect", href="#FloorGuide2F_MAP_over203", coords="186, 455, 222, 487")
				area(shape="rect", href="#FloorGuide2F_MAP_over202", coords="102, 455, 171, 489")
				area(shape="rect", href="#FloorGuide2F_MAP_over202-1", coords="77, 534, 317, 567")
				area(shape="poly", href="#FloorGuide2F_MAP_over201", coords="27, 423, 73, 423, 73, 456, 97, 457, 97, 489, 73, 490, 75, 566, 0, 568")
				area(shape="poly", href="#FloorGuide2F_MAP_over2C", coords="275, 90, 275, 68, 223, 68, 223, 41, 129, 41, 129, 5, 403, 5, 403, 150, 364, 151, 364, 57, 309, 57, 309, 88")
				area(shape="poly", href="#FloorGuide2F_MAP_over2B", coords="281, 164, 281, 98, 312, 99, 312, 64, 359, 64, 358, 151, 339, 151, 339, 164")
				area(shape="poly", href="#FloorGuide2F_MAP_over2A", coords="129, 259, 128, 224, 196, 224, 197, 196, 339, 196, 339, 258")
		div(class="FloorGuide FloorGuide3F")
			img(class="FloorGuideBackground", src="/images/Visit/FloorGuide3F/FloorGuide3F_MAP_BK.png")
			img(class="FloorGuideOver", src="/images/Visit/alpha.png", usemap="#FloorGuide3FMap", border="0", width="593", height="569")
			map(class="FloorGuideMap", name="FloorGuide3FMap")
				area(shape="poly", href="#FloorGuide3F_MAP_over339", coords="457, 475, 505, 475, 515, 490, 489, 503, 455, 498")
				area(shape="poly", href="#FloorGuide3F_MAP_over338", coords="505, 441, 544, 441, 536, 471, 518, 488, 503, 471")
				area(shape="poly", href="#FloorGuide3F_MAP_over337", coords="492, 384, 524, 384, 541, 411, 545, 437, 504, 437")
				area(shape="poly", href="#FloorGuide3F_MAP_over336", coords="438, 348, 487, 358, 525, 382, 492, 382, 439, 395")
				area(shape="poly", href="#FloorGuide3F_MAP_over335", coords="432, 305, 547, 324, 559, 382, 542, 382, 500, 347, 434, 333")
				area(shape="poly", href="#FloorGuide3F_MAP_over334", coords="560, 440, 569, 441, 582, 503, 542, 485")
				area(shape="poly", href="#FloorGuide3F_MAP_over333", coords="523, 503, 541, 489, 581, 507, 592, 548, 523, 550")
				area(shape="poly", href="#FloorGuide3F_MAP_over332", coords="458, 512, 487, 516, 519, 505, 519, 551, 457, 553")
				area(shape="rect", href="#FloorGuide3F_MAP_over331", coords="382, 460, 412, 495")
				area(shape="rect", href="#FloorGuide3F_MAP_over330", coords="414, 462, 442, 495")
				area(shape="rect", href="#FloorGuide3F_MAP_over319", coords="390, 511, 453, 554")
				area(shape="poly", href="#FloorGuide3F_MAP_over318", coords="313, 490, 366, 490, 367, 512, 386, 512, 387, 554, 311, 558")
				area(shape="rect", href="#FloorGuide3F_MAP_over317", coords="326, 381, 367, 421")
				area(shape="rect", href="#FloorGuide3F_MAP_over316", coords="283, 380, 323, 421")
				area(shape="rect", href="#FloorGuide3F_MAP_over315", coords="193, 403, 262, 421")
				area(shape="rect", href="#FloorGuide3F_MAP_over314", coords="193, 380, 261, 399")
				area(shape="rect", href="#FloorGuide3F_MAP_over313", coords="98, 377, 172, 399")
				area(shape="rect", href="#FloorGuide3F_MAP_over313-1", coords="101, 402, 172, 422")
				area(shape="rect", href="#FloorGuide3F_MAP_over311", coords="83, 331, 136, 367")
				area(shape="rect", href="#FloorGuide3F_MAP_over310", coords="145, 330, 190, 365")
				area(shape="rect", href="#FloorGuide3F_MAP_over309", coords="193, 330, 251, 365")
				area(shape="rect", href="#FloorGuide3F_MAP_over308", coords="254, 329, 321, 365")
				area(shape="rect", href="#FloorGuide3F_MAP_over307", coords="324, 331, 393, 365")
				area(shape="rect", href="#FloorGuide3F_MAP_over306", coords="289, 436, 365, 486")
				area(shape="rect", href="#FloorGuide3F_MAP_over304", coords="238, 438, 281, 487")
				area(shape="rect", href="#FloorGuide3F_MAP_over303", coords="188, 437, 234, 486")
				area(shape="rect", href="#FloorGuide3F_MAP_over302", coords="104, 438, 175, 487")
				area(shape="poly", href="#FloorGuide3F_MAP_over301", coords="4, 520, 76, 520, 76, 566, 1, 568")
				area(shape="poly", href="#FloorGuide3F_MAP_over301-3", coords="51, 295, 75, 295, 68, 330, 79, 330, 79, 366, 36, 367")
				area(shape="poly", href="#FloorGuide3F_MAP_over301-2", coords="37, 372, 69, 372, 68, 434, 23, 433")
				area(shape="poly", href="#FloorGuide3F_MAP_over301-1", coords="22, 436, 100, 437, 100, 488, 75, 487, 75, 516, 5, 516")
				area(shape="poly", href="#FloorGuide3F_MAP_over3B", coords="195, 193, 347, 192, 347, 258, 127, 258, 127, 224, 194, 224")
				area(shape="poly", href="#FloorGuide3F_MAP_over3A", coords="167, 3, 323, 3, 323, 40, 376, 29, 401, 173, 334, 171, 333, 140, 308, 140, 309, 90, 274, 90, 274, 70, 167, 69")
				area(shape="poly" coords="455, 478, 485, 478, 479, 503, 449, 496")
		div(class="FloorGuide FloorGuide4F")
			img(class="FloorGuideBackground", src="/images/Visit/FloorGuide4F/FloorGuide4F_MAP_BK.png")
			img(class="FloorGuideOver", src="/images/Visit/alpha.png", usemap="#FloorGuide4FMap", border="0", width="593", height="569")
			map(class="FloorGuideMap", name="FloorGuide4FMap")
				area(shape="poly", href="#FloorGuide4F_MAP_over437-2", coords="453, 478, 477, 478, 485, 479, 479, 504, 447, 496")
				area(shape="poly", href="#FloorGuide4F_MAP_over437-1", coords="487, 481, 493, 481, 501, 489, 521, 506, 481, 504")
				area(shape="poly", href="#FloorGuide4F_MAP_over436-2", coords="504, 488, 514, 476, 535, 468, 538, 493, 524, 506")
				area(shape="poly", href="#FloorGuide4F_MAP_over436-1", coords="504, 444, 528, 436, 534, 470, 514, 474, 503, 488, 493, 480, 503, 473")
				area(shape="poly", href="#FloorGuide4F_MAP_over435-4", coords="501, 426, 523, 421, 526, 433, 504, 439")
				area(shape="poly", href="#FloorGuide4F_MAP_over435", coords="492, 377, 503, 375, 517, 382, 522, 419, 501, 423")
				area(shape="poly", href="#FloorGuide4F_MAP_over434-2", coords="480, 353, 501, 348, 511, 354, 515, 378, 502, 373, 490, 373, 480, 372")
				area(shape="poly", href="#FloorGuide4F_MAP_over434-1", coords="435, 367, 439, 354, 456, 347, 477, 351, 476, 372")
				area(shape="poly", href="#FloorGuide4F_MAP_over433-2", coords="404, 294, 426, 302, 425, 341, 404, 350")
				area(shape="poly", href="#FloorGuide4F_MAP_over433-1", coords="428, 303, 454, 308, 454, 336, 433, 344, 426, 340")
				area(shape="poly", href="#FloorGuide4F_MAP_over432", coords="457, 308, 487, 313, 483, 341, 457, 337")
				area(shape="poly", href="#FloorGuide4F_MAP_over431", coords="489, 313, 517, 319, 514, 343, 486, 339")
				area(shape="poly", href="#FloorGuide4F_MAP_over430-2", coords="516, 344, 519, 319, 543, 326, 550, 341, 554, 364, 522, 372")
				area(shape="poly", href="#FloorGuide4F_MAP_over430-1", coords="524, 374, 555, 368, 561, 390, 528, 395")
				area(shape="poly", href="#FloorGuide4F_MAP_over429-2", coords="529, 397, 561, 393, 567, 426, 553, 428, 550, 418, 533, 422")
				area(shape="poly", href="#FloorGuide4F_MAP_over429-1", coords="534, 424, 550, 422, 552, 430, 566, 428, 572, 448, 541, 456")
				area(shape="poly", href="#FloorGuide4F_MAP_over428", coords="543, 457, 572, 451, 576, 471, 546, 479")
				area(shape="poly", href="#FloorGuide4F_MAP_over427", coords="546, 480, 577, 475, 583, 513, 547, 506")
				area(shape="poly", href="#FloorGuide4F_MAP_over426", coords="541, 516, 546, 508, 583, 514, 591, 548, 553, 549")
				area(shape="poly", href="#FloorGuide4F_MAP_over425-2", coords="519, 519, 538, 518, 549, 548, 521, 550")
				area(shape="rect", href="#FloorGuide4F_MAP_over425-1", coords="486, 514, 516, 550")
				area(shape="rect", href="#FloorGuide4F_MAP_over424-2", coords="462, 508, 485, 550")
				area(shape="rect", href="#FloorGuide4F_MAP_over424-1", coords="441, 504, 458, 551")
				area(shape="rect", href="#FloorGuide4F_MAP_over423", coords="413, 508, 437, 553")
				area(shape="rect", href="#FloorGuide4F_MAP_over422", coords="339, 481, 391, 497")
				area(shape="rect", href="#FloorGuide4F_MAP_over421", coords="366, 433, 389, 477")
				area(shape="rect", href="#FloorGuide4F_MAP_over420", coords="338, 435, 362, 477")
				area(shape="rect", href="#FloorGuide4F_MAP_over419-2", coords="331, 402, 370, 422")
				area(shape="rect", href="#FloorGuide4F_MAP_over419-1", coords="331, 378, 375, 399")
				area(shape="rect", href="#FloorGuide4F_MAP_over418-2", coords="291, 402, 328, 421")
				area(shape="rect", href="#FloorGuide4F_MAP_over418-1", coords="291, 378, 327, 398")
				area(shape="rect", href="#FloorGuide4F_MAP_over417-2", coords="250, 402, 288, 421")
				area(shape="rect", href="#FloorGuide4F_MAP_over417-1", coords="251, 377, 287, 399")
				area(shape="rect", href="#FloorGuide4F_MAP_over416-2", coords="187, 402, 237, 421")
				area(shape="rect", href="#FloorGuide4F_MAP_over416-1", coords="187, 378, 237, 399")
				area(shape="rect", href="#FloorGuide4F_MAP_over415", coords="145, 378, 170, 420")
				area(shape="rect", href="#FloorGuide4F_MAP_over415-2", coords="99, 403, 142, 420")
				area(shape="rect", href="#FloorGuide4F_MAP_over415-1", coords="99, 379, 141, 399")
				area(shape="poly", href="#FloorGuide4F_MAP_over414-2", coords="32, 386, 74, 387, 73, 410, 25, 409")
				area(shape="poly", href="#FloorGuide4F_MAP_over413-1412-2", coords="46, 331, 120, 331, 120, 366, 74, 365")
				area(shape="poly", href="#FloorGuide4F_MAP_over413-2", coords="44, 331, 74, 367, 74, 383, 31, 382")
				area(shape="rect", href="#FloorGuide4F_MAP_over412-1", coords="123, 330, 150, 365")
				area(shape="rect", href="#FloorGuide4F_MAP_over411-2", coords="167, 330, 198, 365")
				area(shape="rect", href="#FloorGuide4F_MAP_over411-1", coords="200, 330, 233, 365")
				area(shape="rect", href="#FloorGuide4F_MAP_over410-1409-1409-2", coords="269, 331, 348, 365")
				area(shape="rect", href="#FloorGuide4F_MAP_over410-2", coords="236, 331, 266, 365")
				area(shape="rect", href="#FloorGuide4F_MAP_over408", coords="349, 331, 387, 365")
				area(shape="rect", href="#FloorGuide4F_MAP_over407", coords="378, 509, 409, 554")
				area(shape="rect", href="#FloorGuide4F_MAP_over406-2", coords="344, 510, 374, 556")
				area(shape="poly", href="#FloorGuide4F_MAP_over406-1", coords="314, 487, 323, 488, 324, 510, 340, 511, 341, 557, 313, 557")
				area(shape="rect", href="#FloorGuide4F_MAP_over405", coords="289, 435, 322, 485")
				area(shape="rect", href="#FloorGuide4F_MAP_over404", coords="238, 435, 280, 486")
				area(shape="rect", href="#FloorGuide4F_MAP_over403", coords="186, 434, 234, 486")
				area(shape="rect", href="#FloorGuide4F_MAP_over402", coords="104, 435, 174, 487")
				area(shape="poly", href="#FloorGuide4F_MAP_over401", coords="27, 412, 73, 414, 73, 434, 100, 435, 99, 487, 73, 487, 73, 564, 24, 567, 1, 539")
				area(shape="poly", href="#FloorGuide4F_MAP_over4B", coords="37, 4, 323, 3, 323, 43, 345, 167, 275, 166, 275, 69, 126, 70, 125, 133, 64, 133")
				area(shape="poly", href="#FloorGuide4F_MAP_over4A", coords="235, 197, 275, 197, 275, 168, 285, 168, 285, 189, 351, 190, 362, 260, 236, 261")
		div(class="FloorGuide FloorGuide5F")
			img(class="FloorGuideBackground", src="/images/Visit/FloorGuide5F/FloorGuide5F_MAP_BK.png")
			img(class="FloorGuideOver", src="/images/Visit/alpha.png", usemap="#FloorGuide5FMap", border="0", width="593", height="569")
			map(class="FloorGuideMap", name="FloorGuide5FMap")
				area(shape="poly", href="#FloorGuide5F_MAP_over514516", coords="68, 330, 124, 330, 124, 385, 105, 384, 106, 433, 48, 432")
				area(shape="poly", href="#FloorGuide5F_MAP_over505506", coords="238, 435, 323, 435, 323, 467, 313, 466, 313, 475, 278, 475, 279, 487, 237, 487")
				area(shape="rect", href="#FloorGuide5F_MAP_over525", coords="186, 463, 233, 485")
				area(shape="rect", href="#FloorGuide5F_MAP_over524", coords="364, 437, 392, 462")
				area(shape="rect", href="#FloorGuide5F_MAP_over523", coords="336, 434, 362, 461")
				area(shape="rect", href="#FloorGuide5F_MAP_over522", coords="259, 402, 323, 422")
				area(shape="rect", href="#FloorGuide5F_MAP_over521", coords="335, 377, 385, 397")
				area(shape="rect", href="#FloorGuide5F_MAP_over520", coords="336, 401, 378, 421")
				area(shape="rect", href="#FloorGuide5F_MAP_over519", coords="258, 379, 323, 399")
				area(shape="rect", href="#FloorGuide5F_MAP_over518", coords="187, 380, 244, 400")
				area(shape="rect", href="#FloorGuide5F_MAP_over518-1", coords="188, 403, 243, 421")
				area(shape="rect", href="#FloorGuide5F_MAP_over513", coords="128, 331, 167, 384")
				area(shape="rect", href="#FloorGuide5F_MAP_over512", coords="170, 331, 216, 365")
				area(shape="rect", href="#FloorGuide5F_MAP_over511", coords="227, 331, 270, 367")
				area(shape="rect", href="#FloorGuide5F_MAP_over510", coords="274, 330, 320, 367")
				area(shape="rect", href="#FloorGuide5F_MAP_over509", coords="323, 331, 370, 367")
				area(shape="poly", href="#FloorGuide5F_MAP_over508", coords="429, 327, 502, 339, 531, 480, 457, 479")
				area(shape="rect", href="#FloorGuide5F_MAP_over507", coords="315, 477, 370, 528")
				area(shape="rect", href="#FloorGuide5F_MAP_over504", coords="185, 435, 233, 461")
				area(shape="poly", href="#FloorGuide5F_MAP_over501", coords="48, 436, 171, 436, 170, 485, 71, 487, 71, 536, 28, 539")
		div(class="FloorGuide FloorGuideB1")
			img(class="FloorGuideBackground", src="/images/Visit/FloorGuideB1/FloorGuideB1_MAP_BK.png")
			img(class="FloorGuideOver", src="/images/Visit/alpha.png", usemap="#FloorGuideB1Map", border="0", width="740", height="614")
			map(class="FloorGuideMap", name="FloorGuideB1Map")
				area(shape="rect", href="#FloorGuideB1_MAP_overB154", coords="125, 380, 154, 418")
				area(shape="rect", href="#FloorGuideB1_MAP_overB152", coords="163, 382, 199, 403")
				area(shape="rect", href="#FloorGuideB1_MAP_overB151-2", coords="215, 395, 263, 413")
				area(shape="rect", href="#FloorGuideB1_MAP_overB151-1", coords="267, 394, 313, 413")
				area(shape="rect", href="#FloorGuideB1_MAP_overB150", coords="328, 393, 367, 419")
				area(shape="rect", href="#FloorGuideB1_MAP_overB148", coords="381, 394, 420, 421")
				area(shape="rect", href="#FloorGuideB1_MAP_overB147", coords="428, 394, 470, 420")
				area(shape="rect", href="#FloorGuideB1_MAP_overB146", coords="479, 394, 522, 419")
				area(shape="poly", href="#FloorGuideB1_MAP_overB145", coords="609, 390, 648, 390, 647, 421, 613, 422")
				area(shape="rect", href="#FloorGuideB1_MAP_overB144", coords="656, 389, 687, 419")
				area(shape="rect", href="#FloorGuideB1_MAP_overB143", coords="654, 426, 685, 447")
				area(shape="rect", href="#FloorGuideB1_MAP_overB142", coords="655, 451, 683, 472")
				area(shape="poly", href="#FloorGuideB1_MAP_overB141", coords="617, 425, 647, 425, 645, 476, 629, 476, 630, 453")
				area(shape="rect", href="#FloorGuideB1_MAP_overB140", coords="568, 455, 626, 474")
				area(shape="rect", href="#FloorGuideB1_MAP_overB139", coords="480, 430, 522, 459")
				area(shape="rect", href="#FloorGuideB1_MAP_overB138", coords="428, 430, 468, 459")
				area(shape="rect", href="#FloorGuideB1_MAP_overB137", coords="381, 431, 420, 458")
				area(shape="rect", href="#FloorGuideB1_MAP_overB136", coords="328, 431, 366, 458")
				area(shape="rect", href="#FloorGuideB1_MAP_overB134-2", coords="214, 435, 259, 456")
				area(shape="rect", href="#FloorGuideB1_MAP_overB134-1", coords="262, 435, 311, 456")
				area(shape="rect", href="#FloorGuideB1_MAP_overB133", coords="164, 412, 198, 436")
				area(shape="rect", href="#FloorGuideB1_MAP_overB132", coords="163, 446, 195, 466")
				area(shape="rect", href="#FloorGuideB1_MAP_overB131", coords="125, 432, 152, 467")
				area(shape="rect", href="#FloorGuideB1_MAP_overB126", coords="161, 310, 196, 364")
				area(shape="poly", href="#FloorGuideB1_MAP_overB125", coords="197, 346, 247, 346, 247, 380, 217, 379, 216, 366, 197, 365")
				area(shape="rect", href="#FloorGuideB1_MAP_overB124", coords="248, 352, 295, 379")
				area(shape="rect", href="#FloorGuideB1_MAP_overB123", coords="312, 352, 353, 379")
				area(shape="rect", href="#FloorGuideB1_MAP_overB122", coords="354, 350, 391, 378")
				area(shape="rect", href="#FloorGuideB1_MAP_overB121-2", coords="395, 350, 435, 378")
				area(shape="rect", href="#FloorGuideB1_MAP_overB121-1", coords="437, 351, 464, 378")
				area(shape="rect", href="#FloorGuideB1_MAP_overB120", coords="479, 351, 524, 379")
				area(shape="rect", href="#FloorGuideB1_MAP_overB119", coords="524, 351, 580, 380")
				area(shape="rect", href="#FloorGuideB1_MAP_overB118", coords="582, 350, 637, 381")
				area(shape="rect", href="#FloorGuideB1_MAP_overB117", coords="639, 351, 693, 380")
				area(shape="rect", href="#FloorGuideB1_MAP_overB116", coords="695, 350, 738, 393")
				area(shape="rect", href="#FloorGuideB1_MAP_overB115", coords="695, 395, 737, 433")
				area(shape="rect", href="#FloorGuideB1_MAP_overB114", coords="696, 436, 737, 469")
				area(shape="rect", href="#FloorGuideB1_MAP_overB113", coords="695, 470, 738, 507")
				area(shape="poly", href="#FloorGuideB1_MAP_overB112", coords="655, 486, 693, 486, 693, 507, 675, 532, 654, 532")
				area(shape="rect", href="#FloorGuideB1_MAP_overB111", coords="617, 486, 652, 531")
				area(shape="rect", href="#FloorGuideB1_MAP_overB110", coords="584, 486, 616, 532")
				area(shape="rect", href="#FloorGuideB1_MAP_overB109", coords="548, 487, 580, 532")
				area(shape="rect", href="#FloorGuideB1_MAP_overB108", coords="522, 487, 549, 531")
				area(shape="rect", href="#FloorGuideB1_MAP_overB107", coords="484, 472, 522, 531")
				area(shape="rect", href="#FloorGuideB1_MAP_overB106", coords="439, 472, 483, 531")
				area(shape="rect", href="#FloorGuideB1_MAP_overB105", coords="395, 474, 439, 531")
				area(shape="rect", href="#FloorGuideB1_MAP_overB104", coords="305, 472, 365, 501")
				area(shape="rect", href="#FloorGuideB1_MAP_overB103", coords="229, 473, 294, 502")
				area(shape="poly", href="#FloorGuideB1_MAP_overB102", coords="175, 485, 216, 485, 216, 474, 227, 474, 227, 501, 204, 502, 204, 538, 176, 538")
				area(shape="poly", href="#FloorGuideB1_MAP_overB101", coords="91, 310, 144, 310, 143, 365, 111, 365, 111, 484, 133, 484, 133, 523, 70, 513, 70, 448, 18, 448, 23, 420, 53, 420, 54, 387, 91, 387")
		div(class="FloorGuide FloorGuideB2")
			img(class="FloorGuideBackground", src="/images/Visit/FloorGuideB2/FloorGuideB2_MAP_BK.png")
			img(class="FloorGuideOver", src="/images/Visit/alpha.png", usemap="#FloorGuideB2Map", border="0", width="775", height="614")
			map(class="FloorGuideMap", name="FloorGuideB2Map")
				area(shape="rect", href="#FloorGuideB2_MAP_overB246C", coords="481, 416, 503, 428")
				area(shape="rect", href="#FloorGuideB2_MAP_overB246B", coords="465, 414, 481, 437")
				area(shape="rect", href="#FloorGuideB2_MAP_overB246A", coords="428, 415, 463, 438")
				area(shape="rect", href="#FloorGuideB2_MAP_overB245", coords="516, 414, 559, 430")
				area(shape="rect", href="#FloorGuideB2_MAP_overB244", coords="539, 434, 558, 467")
				area(shape="rect", href="#FloorGuideB2_MAP_overB243", coords="516, 434, 537, 468")
				area(shape="poly", href="#FloorGuideB2_MAP_overB242A", coords="476, 440, 490, 441, 491, 451, 503, 451, 503, 469, 479, 469")
				area(shape="poly", href="#FloorGuideB2_MAP_overB242", coords="483, 431, 503, 432, 502, 452, 491, 452, 492, 441, 483, 441")
				area(shape="rect", href="#FloorGuideB2_MAP_overB241", coords="456, 441, 477, 468")
				area(shape="rect", href="#FloorGuideB2_MAP_overB240", coords="428, 442, 453, 468")
				area(shape="rect", href="#FloorGuideB2_MAP_overB239", coords="390, 447, 413, 467")
				area(shape="rect", href="#FloorGuideB2_MAP_overB238", coords="366, 447, 389, 468")
				area(shape="rect", href="#FloorGuideB2_MAP_overB237", coords="342, 443, 366, 468")
				area(shape="rect", href="#FloorGuideB2_MAP_overB236", coords="304, 446, 328, 468")
				area(shape="rect", href="#FloorGuideB2_MAP_overB235", coords="278, 446, 302, 469")
				area(shape="rect", href="#FloorGuideB2_MAP_overB234", coords="252, 447, 276, 468")
				area(shape="rect", href="#FloorGuideB2_MAP_overB233", coords="216, 446, 240, 467")
				area(shape="rect", href="#FloorGuideB2_MAP_overB232", coords="194, 444, 214, 467")
				area(shape="rect", href="#FloorGuideB2_MAP_overB231A", coords="172, 445, 193, 467")
				area(shape="rect", href="#FloorGuideB2_MAP_overB231", coords="148, 447, 169, 467")
				area(shape="poly", href="#FloorGuideB2_MAP_overB230", coords="71, 356, 126, 357, 127, 453, 51, 451")
				area(shape="rect", href="#FloorGuideB2_MAP_overB229", coords="143, 358, 168, 379")
				area(shape="rect", href="#FloorGuideB2_MAP_overB228", coords="169, 356, 189, 379")
				area(shape="rect", href="#FloorGuideB2_MAP_overB227", coords="192, 355, 216, 379")
				area(shape="rect", href="#FloorGuideB2_MAP_overB226", coords="216, 356, 241, 379")
				area(shape="rect", href="#FloorGuideB2_MAP_overB225", coords="241, 355, 263, 379")
				area(shape="rect", href="#FloorGuideB2_MAP_overB224", coords="265, 356, 289, 380")
				area(shape="rect", href="#FloorGuideB2_MAP_overB223", coords="299, 355, 322, 380")
				area(shape="rect", href="#FloorGuideB2_MAP_overB222", coords="326, 354, 347, 379")
				area(shape="rect", href="#FloorGuideB2_MAP_overB221", coords="349, 356, 374, 379")
				area(shape="rect", href="#FloorGuideB2_MAP_overB220", coords="375, 356, 403, 380")
				area(shape="rect", href="#FloorGuideB2_MAP_overB219", coords="403, 357, 430, 379")
				area(shape="rect", href="#FloorGuideB2_MAP_overB218", coords="431, 357, 464, 400")
				area(shape="rect", href="#FloorGuideB2_MAP_overB217", coords="466, 357, 501, 400")
				area(shape="poly", href="#FloorGuideB2_MAP_overB215B216", coords="515, 357, 677, 357, 678, 417, 651, 416, 645, 385, 587, 385, 584, 375, 559, 375, 559, 401, 512, 400")
				area(shape="poly", href="#FloorGuideB2_MAP_overB214", coords="651, 419, 681, 419, 681, 356, 772, 356, 773, 473, 642, 473, 642, 454, 657, 454")
				area(shape="poly", href="#FloorGuideB2_MAP_overB213", coords="615, 485, 641, 485, 641, 474, 773, 474, 773, 511, 735, 561, 667, 567, 664, 507, 615, 509")
				area(shape="rect", href="#FloorGuideB2_MAP_overB211B212", coords="558, 485, 612, 511")
				area(shape="rect", href="#FloorGuideB2_MAP_overB210", coords="474, 485, 519, 533")
				area(shape="rect", href="#FloorGuideB2_MAP_overB209", coords="444, 484, 473, 533")
				area(shape="poly", href="#FloorGuideB2_MAP_overB208", coords="385, 482, 444, 484, 444, 573, 323, 580, 324, 536, 402, 535, 401, 500, 385, 500")
				area(shape="rect", href="#FloorGuideB2_MAP_overB207", coords="340, 484, 385, 500")
				area(shape="rect", href="#FloorGuideB2_MAP_overB206", coords="300, 483, 327, 500")
				area(shape="rect", href="#FloorGuideB2_MAP_overB205A", coords="271, 482, 298, 500")
				area(shape="rect", href="#FloorGuideB2_MAP_overB205", coords="239, 484, 270, 499")
				area(shape="poly", href="#FloorGuideB2_MAP_overB204", coords="205, 485, 238, 485, 238, 535, 322, 535, 322, 579, 213, 587, 217, 503, 205, 500")
				area(shape="rect", href="#FloorGuideB2_MAP_overB203", coords="174, 482, 203, 501")
				area(shape="rect", href="#FloorGuideB2_MAP_overB202", coords="143, 483, 172, 502")
				area(shape="poly", href="#FloorGuideB2_MAP_overB201", coords="100, 484, 145, 484, 145, 504, 213, 504, 213, 586, 164, 591, 174, 527, 100, 513")
	script(src="/javascripts/visitFloor.js")
